body
{
	font-family:Arial, sans-serif;
	font-size: 16pt;
	background: #000;
}
p 
{
	line-height:24pt;
	color:#FFF;
}
#header 
{
	color:#F00;
}
#blockly
{
	border:1px solid #CCC;
	padding-left:0;
	height:300px;
}
#blockly_editor
{
	width:49%;
	float:left;
}
#description
{
	width:49%;
	float:right;
	margin-top:0;
}
#button_run
{
	margin-left:2%;
}